<!-- app/views/users/show.html.erb -->
<h1><%= @user.email %>'s Profile</h1>

<h2>Events Created</h2>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= event.name %> - <%= event.date %> - <%= event.location %></li>
  <% end %>
</ul>

<h2>Attended Events</h2>
  <% if @attended_events.any? %>
    <ul>
      <% @attended_events.each do |event| %>
        <li>
          <strong><%= event.name %></strong><br>
          Date: <%= event.date.strftime('%B %d, %Y') %><br>
          Location: <%= event.location %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>This user has not attended any events yet.</p>
  <% end %>
