<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <%= link_to 'Home', root_path %>
            </li>
                        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Create Event', new_event_path %>
            </li>
            <% end %>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              <% else %>
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

    <%= yield %>
  </body>
</html>
